<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Header -->
<header class="w3-container w3-green w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">URL Shortener</h1>
</header>

{% if url %}
<h4><p> Your shortened URL is 127.0.0.1:5000/{{ url }} </p></h4>
{% endif %}

<!-- First Grid -->
{% if error %}
    <h2><div class="alert" role="alert">
      {{ error }}
    </div></h2>
{% endif %}

{% if error or homepage %}
<div class="w3-row-padding w3-padding-64 w3-container">
    
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Shorten a URL</h1>
      <h5 class="w3-padding-8">Enter a URL to shorten. Optionally, enter a short URL you would like to shorten it to.</h5>

      <form class="w3-container w3-padding-16" action="{{ url_for('index') }}" method="POST">
        <label>Long URL:</label><br>
        <input class="w3-input" type="text" name="long_url" placeholder="Required"><br>
        <label>Short URL:</label><br>
        <input class="w3-input" type="text" name="short_url" placeholder="Optional"><br>
        <input type="submit" class="w3-btn w3-green">
      </form>

      </div>
  </div>
</div>
{% endif %}

</body>
</html>
